body {
	margin: 0;
	background-color: black;
}

.star {
	background-color: white;
	height: 1px;
	position: absolute;
	width: 1px;
}

.intro {
	animation: intro 3s ease-out 1s;
	color: rgb(75, 213, 238);
	left: 35%;
	font-size: 200%;
	font-weight: 400;
	opacity: 0;
	position: absolute;
	top: 50%;
	z-index: 1;
}

@keyframes intro {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

p {
	color: #ffff82;
}

.board {
	bottom: 0;
	font-family: Century Gothic, sans-serif;
	font-size: 350%;
	font-weight: bold;
	height: 50em;
	left: 50%;
	margin-left: -9em;
	overflow: hidden;
	position: absolute;
	transform: perspective(300px) rotateX(25deg);
	transform-origin: 50% 100%;
	text-align: justify;
	width: 18em;
}

.board:after {
	bottom: 60%;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.content {
	animation: scroll 80s linear 3s;
	background: black;
	position: absolute;
	top: 100%;
}

.title,
.subtitle {
	text-align: center;
}

@keyframes scroll {
	0% {
		top: 100%;
	}
	100% {
		top: -170%;
	}
}
